#navbarBasicExample > div.navbar-start > a{
    color: white !important;
}
#navbarBasicExample > div.navbar-start > a:hover{
    background-color: tomato;
}
#navbarBasicExample > div.navbar-start > div > div.navbar-link {
    color: white !important;
}
#navbarBasicExample > div.navbar-start > div > div.navbar-link:hover {
    color: white !important;
    background-color: tomato;
}
#navbarBasicExample > div.navbar-start > div:hover > div.navbar-link {
    color: black !important;
}
#navbarBasicExample > div.navbar-start > div > div.navbar-dropdown > a:hover {
    color: white !important;
    background-color: tomato;
}
